In [3]:
##transform data to the sql serever
!pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\thinkpad\anaconda3\lib\site-packages (5.0.1)

In [9]:
import pyodbc

# Connection details
server = 'LENOVO\\SQLEXPRESS'  # Double backslash to escape the backslash
database = 'hotelData' 

# Establish connection using Windows Authentication
connection = pyodbc.connect(f"DRIVER={{ODBC Driver 17 for SQL Server}};"
                            f"SERVER={server};"
                            f"DATABASE={database};"
                            f"Trusted_Connection=yes;")

# Create a cursor object
cursor = connection.cursor()

In [11]:
# Create a cursor object
cursor = connection.cursor()

# Execute a query
cursor.execute('SELECT GETDATE();')  # Replace with your table

# Fetch results
for row in cursor.fetchall():
    print(row)

# Close the connection
connection.close()

(datetime.datetime(2024, 12, 15, 22, 13, 34, 620000),)

In [13]:
import pandas as pd

In [17]:
sheets = pd.read_excel(file_name, sheet_name=None)

In [19]:
print(sheets.keys())

dict_keys(['2018', '2019', '2020', 'meal_cost', 'market_segment'])

In [21]:
df_2018 = sheets["2018"]
df_2019 = sheets["2019"]
df_2020 = sheets["2020"]
df_meal_cost = sheets["meal_cost"]
df_market_segment = sheets["market_segment"]

In [33]:
df_2019['arrival_date_year'].value_counts()

arrival_date_year
2019    79264
Name: count, dtype: int64

In [37]:
df_2018['arrival_date_year'].value_counts()

arrival_date_year
2018    21996
Name: count, dtype: int64

In [41]:
df = pd.concat([df_2018, df_2019,df_2020])

In [43]:
df['arrival_date_year'].value_counts()

arrival_date_year
2019    79264
2020    40687
2018    21996
Name: count, dtype: int64

In [45]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,1,85,2018,July,27,1,0,3,2,...,No Deposit,240.0,NaN,0,Transient,82.0,0,1,Canceled,2018-05-06
1,Resort Hotel,1,75,2018,July,27,1,0,3,2,...,No Deposit,15.0,NaN,0,Transient,105.5,0,0,Canceled,2018-04-22
2,Resort Hotel,1,23,2018,July,27,1,0,4,2,...,No Deposit,240.0,NaN,0,Transient,123.0,0,0,Canceled,2018-06-23
3,Resort Hotel,1,60,2018,July,27,1,2,5,2,...,No Deposit,240.0,NaN,0,Transient,107.0,0,2,Canceled,2018-05-11
4,Resort Hotel,1,96,2018,July,27,1,2,8,2,...,No Deposit,NaN,NaN,0,Transient,108.3,0,2,Canceled,2018-05-29

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 141947 entries, 0 to 40686
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           141947 non-null  object
 1   is_canceled                     141947 non-null  int64
 2   lead_time                       141947 non-null  int64
 3   arrival_date_year               141947 non-null  int64
 4   arrival_date_month              141947 non-null  object
 5   arrival_date_week_number        141947 non-null  int64
 6   arrival_date_day_of_month       141947 non-null  int64
 7   stays_in_weekend_nights         141947 non-null  int64
 8   stays_in_week_nights            141947 non-null  int64
 9   adults                          141947 non-null  int64
 10  children                        141939 non-null  float64
 11  babies                          141947 non-null  int64
 12  meal                            141947 non-null  object
 13  country                         141322 non-null  object
 14  market_segment                  141947 non-null  object
 15  distribution_channel            141947 non-null  object
 16  is_repeated_guest               141947 non-null  int64
 17  previous_cancellations          141947 non-null  int64
 18  previous_bookings_not_canceled  141947 non-null  int64
 19  reserved_room_type              141947 non-null  object
 20  assigned_room_type              141947 non-null  object
 21  booking_changes                 141947 non-null  int64
 22  deposit_type                    141947 non-null  object
 23  agent                           122392 non-null  float64
 24  company                         8125 non-null    float64
 25  days_in_waiting_list            141947 non-null  int64
 26  customer_type                   141947 non-null  object
 27  adr                             141947 non-null  float64
 28  required_car_parking_spaces     141947 non-null  int64
 29  total_of_special_requests       141947 non-null  int64
 30  reservation_status              141947 non-null  object
 31  reservation_status_date         141947 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int64(16), object(11)
memory usage: 35.7+ MB

In [57]:
from sqlalchemy import create_engine

# Create connection string for SQL Server
connection_string = f"mssql+pyodbc://{server}/{database}?driver=ODBC+Driver+17+for+SQL+Server"

# Create SQLAlchemy engine
engine = create_engine(connection_string)

In [77]:
table_name='reservation'
try:
    # Auto-create the table if it doesn't exist
    df.to_sql(table_name, con=engine, if_exists='replace', index=False)
    print(f"Table '{table_name}' created and data exported successfully.")
except Exception as e:
    print(f"An error occurred: {e}")

Table 'reservation' created and data exported successfully.

In [61]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,1,85,2018,July,27,1,0,3,2,...,No Deposit,240.0,NaN,0,Transient,82.0,0,1,Canceled,2018-05-06
1,Resort Hotel,1,75,2018,July,27,1,0,3,2,...,No Deposit,15.0,NaN,0,Transient,105.5,0,0,Canceled,2018-04-22
2,Resort Hotel,1,23,2018,July,27,1,0,4,2,...,No Deposit,240.0,NaN,0,Transient,123.0,0,0,Canceled,2018-06-23
3,Resort Hotel,1,60,2018,July,27,1,2,5,2,...,No Deposit,240.0,NaN,0,Transient,107.0,0,2,Canceled,2018-05-11
4,Resort Hotel,1,96,2018,July,27,1,2,8,2,...,No Deposit,NaN,NaN,0,Transient,108.3,0,2,Canceled,2018-05-29

In [63]:
table_name='mealCost'
try:
    # Auto-create the table if it doesn't exist
    df_meal_cost.to_sql(table_name, con=engine, if_exists='replace', index=False)
    print(f"Table '{table_name}' created and data exported successfully.")
except Exception as e:
    print(f"An error occurred: {e}")

Table 'mealCost' created and data exported successfully.

In [65]:
table_name='MarketSegment'
try:
    # Auto-create the table if it doesn't exist
    df_market_segment.to_sql(table_name, con=engine, if_exists='replace', index=False)
    print(f"Table '{table_name}' created and data exported successfully.")
except Exception as e:
    print(f"An error occurred: {e}")

Table 'MarketSegment' created and data exported successfully.

In [73]:
df.describe().T

,count,mean,min,25%,50%,75%,max,std
is_canceled,141947.0,0.372245,0.0,0.0,0.0,1.0,1.0,0.483405
lead_time,141947.0,102.821102,0.0,17.0,68.0,158.0,737.0,106.478569
arrival_date_year,141947.0,2019.131676,2018.0,2019.0,2019.0,2020.0,2020.0,0.651352
arrival_date_week_number,141947.0,29.061058,1.0,18.0,30.0,40.0,53.0,13.604758
arrival_date_day_of_month,141947.0,15.74897,1.0,8.0,16.0,23.0,31.0,8.737314
stays_in_weekend_nights,141947.0,0.927557,0.0,0.0,1.0,2.0,19.0,1.000817
stays_in_week_nights,141947.0,2.495509,0.0,1.0,2.0,3.0,50.0,1.909784
adults,141947.0,1.852551,0.0,2.0,2.0,2.0,55.0,0.628553
children,141939.0,0.097401,0.0,0.0,0.0,0.0,10.0,0.388549
babies,141947.0,0.008285,0.0,0.0,0.0,0.0,10.0,0.10052
is_repeated_guest,141947.0,0.031364,0.0,0.0,0.0,0.0,1.0,0.1743
previous_cancellations,141947.0,0.125413,0.0,0.0,0.0,0.0,26.0,1.059631
previous_bookings_not_canceled,141947.0,0.120327,0.0,0.0,0.0,0.0,72.0,1.381798
booking_changes,141947.0,0.213939,0.0,0.0,0.0,0.0,21.0,0.636479
agent,122392.0,85.685854,1.0,9.0,14.0,229.0,535.0,109.628598
company,8125.0,183.236062,6.0,51.0,174.0,269.0,543.0,128.92195
days_in_waiting_list,141947.0,2.305565,0.0,0.0,0.0,0.0,391.0,16.938253
adr,141947.0,99.416916,-6.38,65.75,90.95,123.0,5400.0,49.675549
required_car_parking_spaces,141947.0,0.062129,0.0,0.0,0.0,0.0,8.0,0.244205
total_of_special_requests,141947.0,0.549677,0.0,0.0,0.0,1.0,5.0,0.786541
reservation_status_date,141947,2019-07-31 01:44:15.991320576,2014-10-17 00:00:00,2019-02-25 00:00:00,2019-08-22 00:00:00,2020-01-06 00:00:00,2020-09-14 00:00:00,NaN

In [75]:
df.shape

(141947, 32)

In [81]:
for col in df.columns:
    print(col)

hotel
is_canceled
lead_time
arrival_date_year
arrival_date_month
arrival_date_week_number
arrival_date_day_of_month
stays_in_weekend_nights
stays_in_week_nights
adults
children
babies
meal
country
market_segment
distribution_channel
is_repeated_guest
previous_cancellations
previous_bookings_not_canceled
reserved_room_type
assigned_room_type
booking_changes
deposit_type
agent
company
days_in_waiting_list
customer_type
adr
required_car_parking_spaces
total_of_special_requests
reservation_status
reservation_status_date

In [83]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,1,85,2018,July,27,1,0,3,2,...,No Deposit,240.0,NaN,0,Transient,82.0,0,1,Canceled,2018-05-06
1,Resort Hotel,1,75,2018,July,27,1,0,3,2,...,No Deposit,15.0,NaN,0,Transient,105.5,0,0,Canceled,2018-04-22
2,Resort Hotel,1,23,2018,July,27,1,0,4,2,...,No Deposit,240.0,NaN,0,Transient,123.0,0,0,Canceled,2018-06-23
3,Resort Hotel,1,60,2018,July,27,1,2,5,2,...,No Deposit,240.0,NaN,0,Transient,107.0,0,2,Canceled,2018-05-11
4,Resort Hotel,1,96,2018,July,27,1,2,8,2,...,No Deposit,NaN,NaN,0,Transient,108.3,0,2,Canceled,2018-05-29

In [ ]:
select * from reservation r
join MarketSegment M
on M.market_segment=r.market_segment
join mealCost mc
on mc.meal = r.meal;